<!DOCTYPE html>
<html>

<head>
    <title>ABOUT</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="maincontent">
        {{>header}}

        <p>This App uses APIs like MapBox and WeatherStack to get the data!</p>
        <p><img class="portrait" src="/img/united.png"></p>
    </div>
    {{>footer}}
</body>

</html>