<!DOCTYPE html>
<html>

<head>
    <title>WEATHER</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="maincontent">

        {{>header}}

        <p>Get any weather from around the globe!</p>
        <form>
            <input placeholder="Location">
            <button>Search</button>

            <p id="successMsg"></p>
            <p id="errorMsg"></p>
        </form>

    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>